
RewriteEngine On
RewriteRule ^admin$  admin.php?action=connexion [L]

# 301 --- https://projetkercode.herokuapp.com/?action=trucs_et_astuces => https://projetkercode.herokuapp.com/trucs_et_astuces
RewriteCond %{QUERY_STRING} (^|&)action\=australie($|&)
RewriteRule ^$/australie? [L,R=301]



#redirection vers page erreur
#ErrorDocument 404 /404.php

