
RewriteEngine On
RewriteRule ^admin$  admin.php?action=connexion [L]
RewriteCond %{QUERY_STRING} (^|&)action=trucs_et_astuces($|&)
RewriteRule ^index\.php?action=$ /trucs_et_astuces?&%{QUERY_STRING}


#redirection vers page erreur
#ErrorDocument 404 /404.php

